{% extends "to_do_lists/base.html" %}
{% load static %}

{% block content %}
    <div class="p-3 mt-3 col-10">
        <h3>Tarefas Arquivadas:</h3>
        {% for tarefa in tarefas %}
            <div class="mb-3 col-10 text-bg-secondaryv2 p-2 input-group">
                <span class="col-10">{{ tarefa.tarefa }}</span>
                <a class="btn btn-danger-archived col-2 ms-auto" href="{% url 'excluir' id=tarefa.id %}">Excluir</a>
            </div>
        {% empty %}
            <p>Não há tarefas arquivadas.</p>
        {% endfor %}
    </div>
    <a href="{% url 'index' %}">← Voltar</a>

    <link rel="stylesheet" href="{% static 'css/styles_archived.css' %}">
{% endblock %}