{% extends "to_do_lists/base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="p-3 mt-3 col-10">
    <h2 class="mb-4 fw-bold border-bottom pb-2"><i class="bi bi-archive"></i> Tarefas Arquivadas</h2>
    {% for tarefa in tarefas %}
    <div class="card shadow-sm mb-3">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h5 class="card-title mb-1">{{ tarefa.tarefa }}</h5>
                <p class="text-muted small mb-0">{{ tarefa.tarefa.id_tarefa }}</p>
            </div>
            <a class="btn btn-outline-danger btn-sm"
                href="{% url 'excluir' id=tarefa.id %}"
                onclick="return confirm('Tem certeza que deseja excluir esta tarefa permanentemente?')"
                title="Excluir definitivamente">
                <i class="bi bi-trash3-fill"></i>
            </a>
        </div>
    </div>
    {% empty %}
    <p>Não há tarefas arquivadas.</p>
    {% endfor %}
</div>
<div>
    <a href="{% url 'index' %}" class="btn btn-secondary mt-4">
        <i class="bi bi-arrow-left-circle"></i> Voltar
    </a>
</div>

<link rel="stylesheet" href="{% static 'css/styles_archived.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/styles_btn.css' %}">
{% endif %}
{% endblock %}